/** @format */

.wrapper {
  background-color: #f0edeb;
  border-radius: 0 20px 20px 0;
  padding: 1em;
  position: absolute;
  top: 2em;
  left: 1em;
  z-index: 99;
  min-width: 230px;
  overflow-y: scroll;
  direction: rtl;
  max-height: 90vh;
  font-family: "Lato", sans-serif;
}
.wrapper::-webkit-scrollbar {
  width: 5px;
  margin-block: auto;
  background-color: #f5f5f5;
  transform: translateX(100%);
  height: 200px;
}

/* Track */
.wrapper::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}

/* Handle on hover */
.wrapper::-webkit-scrollbar-thumb:hover {
  background-color: #888;
}

.header {
  display: grid;
  grid-template-columns: auto auto;
  margin: 1em 0;
  justify-content: left;
  margin: 1em;
}

.h1 {
  font-family: "RocknRoll One";
  letter-spacing: 0.2em;
  font-size: 2em;
  margin-left: 0.5em;
}

.road {
  background-color: #fefefe;
  display: flex;
  border-radius: 20px;
  margin: 0.4em;
  padding: 0 1em;
  font-size: 20px;
  align-items: center;
  height: 48px;
  box-sizing: border-box;
}

.road:hover {
  border: 2px solid #34e6a2;
  font-weight: 700;
  background-color: #f3f3f3;
}

.hideButton {
  padding: 1em;
  position: absolute;
  top: 1.5em;
  left: 250px;
  z-index: 100;
  overflow-y: scroll;
  font-family: "Lato", sans-serif;
  display: none;
}
@media (max-width: 1024px) {
  .hideButton {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  .hideButton.hidden {
    transform: translateX(-250px) rotate(540deg);
    transition: transform 0.5s ease-in-out;
  }
  .wrapper {
    visibility: visible;
    opacity: 1;
    transition: visibility 0.5s, opacity 0.5s;
  }
  .wrapper.hidden {
    visibility: hidden;
    opacity: 0;
  }
}

.hideButton circle {
  fill: black;
  color: #34e6a2;
}
.hideButton polyline,
.hideButton line {
  fill: #34e6a2;
  color: #34e6a2;
}
